/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

/* general */
body {
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  max-width: 375px;
}
:root {
	--color-header: #0084fd;
	--color-odd-bg: #ffffff;
	--color-even-bg: #9792e4;
	--color-contrast: #b5ddff;
  --color-text-contrast: #5A6E7F;
	--color-footer-bg: #333333;
	--color-color-h1: #fdc15f;
}
img {
  display: block;
  width: 100%;
}
.container {
  padding: 50px 30px;
}
h3, .icon {
  color: var(--color-header);
  font-size: 1.5em;
  margin-bottom: 30px;
}
p {
  line-height: 1.7em;
  margin-top: -5px;
}
.button {
  display: inline-block;
  background-color: var(--color-header);
  color: var(--color-odd-bg);
  padding: 10px 50px;
  margin: 30px 0;
  border-radius: 20px;
  letter-spacing: .2rem;
}

/* header */
header {
  width: 100%;
  background-color: var(--color-header);
  color: var(--color-odd-bg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
header .container {  
  height: 75px;
  padding: 0 30px;
}
#logo img {
  width: auto;
}
nav {
  position: relative;
  cursor: pointer;
  padding: 15px 0 15px 35px;
}
nav ul {
  display: none;
  background-color: var(--color-header);
  padding: 30px;
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 1;
}
nav ul a {
  border-radius: 10px;
  display: block;
  color: var(--color-odd-bg);
  font-weight: bold;
  padding: 15px;
}
nav ul a:hover {
  background-color: var(--color-contrast);
  color: var(--color-footer-bg);
  transition: 0.7s;
}
nav:hover ul {
  display: block;
}

/* main */
main {
  background-color: var(--color-odd-bg);
  margin-top: 75px;
}
section {
  margin: 30px 0;
}
main .card {
  background-color: var(--color-contrast);
  color: var(--color-text-contrast);
  font-weight: bold;
  padding: 30px 30px;
}
.card .img-content img {
  margin-bottom: -30px;
}
.icon {
  font-size: 5em;
}

/* footer */
footer {
  background-color: var(--color-footer-bg);
  color: var(--color-odd-bg);
}

/* utility */
.radius-small {
  border-radius: 20px;
}
.radius-big {
  border-radius: 40px;
}
.radius-circle {
  border-radius: 50%;
}

/* text utility */
.text-center {
  text-align: center;
}

/* margin utility */
.mb-30 {
  margin-bottom: 30px;
}

/* color utility */
.bgc-even {
  background-color: var(--color-even-bg);
}

/* flex utility */
.d-flex {
  display: flex;
}
.s-between {
  justify-content: space-between;
}
.ai-center {
  align-items: center;
}