/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

/* general */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  max-width: 375px;
}
:root {
	--color-header: #0084fd;
	--color-odd-bg: #ffffff;
	--color-even-bg: #9792e4;
	--color-contrast: #b5ddff;
  --color-text-contrast: #5A6E7F;
	--color-footer-bg: #333333;
	--color-color-h1: #fdc15f;
  --color-black: #000000;
}
img {
  display: block;
  width: 100%;
}
.container {
  padding: 50px 30px;
}
h1{
  color: var(--color-color-h1);
  font-size: 4em;
  margin: 40px 0;
}
h2 {
  font-size: 2em;
}
h3, .icon {
  color: var(--color-header);
  font-size: 1.5em;
  margin-bottom: 30px;
}
p {
  line-height: 1.7em;
  margin-top: -5px;
}
.button {
  display: inline-block;
  background-color: var(--color-header);
  color: var(--color-odd-bg);
  font-weight: bold;
  padding: 10px 50px;
  margin: 30px 0;
  border-radius: 20px;
  letter-spacing: .2rem;
}

/* header */
header {
  width: 100%;
  background-color: var(--color-header);
  color: var(--color-odd-bg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
header .container {  
  height: 75px;
  padding: 0 30px;
}
#logo img {
  width: auto;
}
nav {
  position: relative;
  cursor: pointer;
  padding: 15px 0 15px 35px;
}
nav ul {
  display: none;
  background-color: var(--color-header);
  padding: 30px;
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 1;
}
nav ul a {
  border-radius: 15px;
  display: block;
  color: var(--color-odd-bg);
  font-weight: bold;
  padding: 15px;
}
nav ul a:hover {
  background-color: var(--color-contrast);
  color: var(--color-footer-bg);
  transition: 0.7s;
}
nav:hover ul {
  display: block;
}

/* main */
main {
  background-color: var(--color-odd-bg);
  margin-top: 75px;
}
section {
  padding: 30px 0;
}
main .card {
  background-color: var(--color-contrast);
  color: var(--color-text-contrast);
  font-weight: bold;
  padding: 30px;
}
.card .img-content img {
  margin-bottom: -30px;
}
.icon {
  font-size: 5em;
}
section .right {
  padding: 35px 20px;
}
.circle {
  margin: 0 auto;
  width: 50px;
  aspect-ratio: 1;
}
.circle a {
  padding: 15px;
  color: var(--color-black);
}
.circle-portrait {
  margin: 0 auto;
  width: 200px;
  aspect-ratio: 1;
  overflow: hidden;
}
.circle-portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#testimonials .container>div {
  padding: 30px 20px;
}
#features .big-wrap>div {
  padding: 30px;

}
#features .big-wrap h2, #about-us h2 {
  font-size: 3em;
}
#features p {
  color: var(--color-text-contrast);
}
#features .button {
  margin-bottom: 0;
}
#about-us p {
  font-size: 1.2em;
}
#about-us .circle-portrait {
  margin: 0;
}
#about-us .container>div:last-child {
  position: relative;
}
#about-us .fa-quote-left {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 4em;
}
#about-us h3{
  margin: 30px 0 0 0;
  font-size: 2em;
}
#about-us .button {
  background-color: var(--color-even-bg);
  font-weight: normal;
  padding: 10px 20px;
  margin: 30px 0;
  border-radius: 20px;
  letter-spacing: 0;
}
#call-to-action .button {
  background-color: var(--color-odd-bg);
  color: var(--color-even-bg);
  padding: 20px 80px;
  border-radius: 100px;
}
.copyright {
  padding: 0 10px;
  font-size: small;
}
.copyright a {
  color: var(--color-odd-bg);
  text-decoration: underline;
}

/* footer */
footer {
  background-color: var(--color-footer-bg);
  color: var(--color-odd-bg);
  font-size: 0.9em;
}
footer p {
  line-height: normal;
  margin-bottom: 50px;
}
footer a {
  color: var(--color-even-bg);
  text-decoration: underline;
}
/* utility */
.radius-small {
  border-radius: 20px;
}
.radius-big {
  border-radius: 40px;
}
.radius-circle {
  border-radius: 50%;
}

/* text utility */
.text-center {
  text-align: center;
}
.tc-white {
  color: var(--color-odd-bg);
}
.tc-black {
  color: var(--color-black);
}
.tc-violet {
  color: var(--color-even-bg);
}
.fs-p-bigger {
  font-size: 1.3em;
}

/* margin utility */
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mtb-70-50 {
  margin: 70px 0 50px 0;
}

/* color utility */
.bgc-even {
  background-color: var(--color-even-bg);
}
.bgc-odd {
  background-color: var(--color-odd-bg);
}

/* flex utility */
.d-flex {
  display: flex;
}
.s-between {
  justify-content: space-between;
}
.j-center {
  justify-content: center;
}
.ai-center {
  align-items: center;
}